body {
  background-color: rgba(0, 0, 0, 0.63);
  font-family: 'pacifico', cursive;
  text-align: left;
  background-image: url(images/leaves.png);
  background-repeat: no-repeat;
  background-position: right;
}

body h1 {
  text-align: center;
  padding: 30px;
}
.choice {
  text-align: center;
  padding-left: 100px;
}

.toppings {
  text-align: center;
  padding: 30px;
}

.toppings .checkbox {
  padding: 20px;
  margin-left: 70px;
}

#next {
  text-align: center;
  margin-left: 50%;
  
}

#information p {
  text-align: center;
}

.buttons {
  padding: 40px;
  margin-left: 30px;
}