body {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  background-position: center;
}

.landing {
  text-align: center;
  padding: 50px;
  padding-top: 330px;
  margin-top: 70px;
  color: aliceblue;
  font-size: 70px;
}

.landing h1, h2 {
  font-family: 'pacifico', cursive;
  text-align: center;
  
}
.landing p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
}
.landing a, li {
  list-style: none;
  color: blue;
  text-emphasis: none;
  font-family: 'Reenie Beanie', cursive;

}
.landing a:hover {
 font-family: 'Reenie Beanie', cursive;
 text-emphasis: none;
 color: red;
 text-decoration: none;
}